<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<!-- Setting the fonts -->
<link rel="stylesheet" href="mycss.css">
<link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="script.js"></script>
<title>Save Food</title>
</head>

<body>
<!-- Start of the header -->
<header>
<h1>
    Welcome Save Food 
    </h1>
</header> 
    
<!-- Start of the navigation -->
<div id="navigation">
    <ul>
   <li ><a href='venue.html'>Venue</a></li>
    <li><a href='menu.html'>Menu</a></li>
    <li><a href='#'>Are you Joining</a></li>
        
    </ul>

</div>
<!-- Start of the main content -->
<main>
    <h3>
    Please check out below the place that 
        the dinner is going to take place
    </h3>
    
</main>
    
<!-- Start of the footer -->
<footer>
    
    
</footer>
</body>
</html>